<app-product></app-product>

<!-- <form class="container"
      [formGroup] = "form"
  (ngSubmit) = "onSubmit(form.value)">
  <input type="text" name="firstname" placeholder="firstname" formControlName="firstname">
  <br>
  <input type="text" name="lastname" placeholder="lastname" formControlName="lastname">
  <br>
  <select name="languages" formControlName="languages">
    <option value="C++">C++</option>
    <option value="Java">Java</option>
    <option value="Angular">Angular</option>
  </select>
  <br><br>
  <input type="submit" [disabled]="!form.valid" value="submit">
</form> -->


<!--{{arr | sort: 'descending'}} -->


<!--<h2>{{name | uppercase}}</h2>
<h2>{{name | lowercase}}</h2>

<h2>{{day}}</h2>
<h2>{{day | date}}</h2>
<h2>{{day | date: 'shortDate'}}</h2>
<h2>{{day | date: 'fullDate'}}</h2>

<h2>{{day | date: 'fullDate' | uppercase}}</h2> -->


<!--<div class="main">
  <h1>Item's List</h1>
  <div class="addItem">
    <input [(ngModel)] = "newItem" placeholder="Add Item" class="addText">
    <button (click) = "pushItem()">Add</button>
  </div>
  <ul>
    <li *ngFor = "let i of items; let ind = index">
      {{i}}
      <span (click) = "removeItem(ind)">x</span>
    </li>
  </ul>
</div>-->


<!--<h1>
  {{title}}
</h1><br>
{{obj.name}}

<ul>
  <li *ngFor = "let i of arr">{{i}}</li>
</ul>
<p *ngIf = "isTrue; then firstTemp else secondTemp">Hello</p>

<ng-template #firstTemp>This is first Template</ng-template>
<ng-template #secondTemp>This is second Template</ng-template>


<p *ngIf = "myName != 'um' && false">True</p>

<br>
<a routerLink="/member">Member</a>
<a routerLink="/product">Product</a>
<br>

<router-outlet></router-outlet>-->
